<sazalex-hero-banner type="image" heading="Clear and considered legal news and insights" 
bgImage="news_landing.jpg">
  <p>We have an impressive breadth and depth of technical expertise, local knowledge and global experience. This give
      us the unique insight, understanding, business awareness and commercial aptitude that our clients value. Our
      insights are as relevant to niche local business as they are to large multinational companies. You'll find the
      latest news, deals and awards, as well as legal updates and insights providing in-depth commentary and expert
      analysis.</p>
</sazalex-hero-banner>
<br>
<div fxLayout="row" fxLayoutGap="10%" fxLayoutAlign="center" [style.maxHeight]="'inherit'">
  <div fxFlex="80%" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2%">
    <div *ngIf="(news | async) as newsList" class="news">
      <div class="no-shadow" *ngFor="let item of newsList">
        <h5>{{item.category | uppercase }}</h5>
        <h2 class="title">{{item.title}}</h2>
        <p>{{item.excerpt}} <button mat-button [routerLink]="[ '/news', item._id ]">Read more...</button></p>
      </div>
      <br>
    </div>
  </div>
</div>