<sazalex-hero-banner type="image" heading="You need timely and responsive advice. We get it." bgImage="about_landing.jpg">
    <p>We work as a team and don’t overload ourselves, so you’ll always have coverage. We know business moves
            quickly — and we won’t leave you hanging.</p>
</sazalex-hero-banner>
<br>
<div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="10%" fxLayoutAlign="center">
    <div fxFlex="80%" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2%">
        <h1>A progressive global law firm</h1>
        <p>Our vision is to be the most progressive global law firm. For us, "progressive" is a mindset, an approach to how we do things. We instinctively take a fresh perspective on situations, exploring whether there are better ways of delivering practical, commercial solutions to the challenges our client's face in today's rapidly changing business landscape.</p>
    </div>        
</div>
