<ng-container *ngIf="(details | async) as person">
  <sazalex-hero-profile-banner [data]="person"></sazalex-hero-profile-banner>
  <div fxLayout="row" fxLayoutAlign="center" [style.maxHeight]="'inherit'">
    <div fxFlex="80%" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2%" fxLayoutAlign="center">
      <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center start">
        <div fxFlex="66%" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2%">
          <markdown [data]="person.bio"></markdown>
        </div>
        <div fxFlex="33%" class="header" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="2%">
          <mat-nav-list>
            <h4 matSubheader [innerHtml]="'PRACTICE AREAS'"></h4>
            <a mat-list-item *ngFor="let practice of practiceAreas | async" [routerLink]="[ '/practice-areas', practice._id ]">
          {{ practice.name }} </a>
          </mat-nav-list>
        </div>
      </div>
    </div>
  </div>

</ng-container>
